body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00f, #800080);
    color: white;
    font-family: Arial, sans-serif;
}

.présentation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.haut {
    height: 105spx;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}

.icone {
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}

.fin {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
}
